<!-- <div class="h-100">
  <div class="canasta">
    <div class="pelota a">Hola</div>
    <div class="pelota b">Mundo</div>
  </div>
</div> -->

<!-- CUADRADOS -->

<!-- <div class="main">
  <div class="contenedor">
    <div class="cuadrado a">rotate(-45deg)</div>
    <div class="cuadrado b">rotateX(-90deg)</div>
    <div class="cuadrado c">rotateY(-90deg)</div>
    <div class="cuadrado d">rotate(45deg)</div>
    <div class="cuadrado e">rotateX(90deg) rotateY(90deg) rotateZ(90deg) </div>
    <div class="cuadrado f">rotate3d(1 , 1, 0, 90deg)</div>
  </div>
  <div class="contenedorPerspectiva">
    <div class="perspectiva">Perspectiva</div>
  </div>
</div> -->

<!-- TRANSFORM ORIGIN -->
<!-- <div class="main">
  <div class="contenedor">
    <div class="cuadrado a">top</div>
    <div class="cuadrado b">left</div>
    <div class="cuadrado c">bottom</div>
    <div class="cuadrado d">right</div>
    <div class="cuadrado e">left top</div>
    <div class="cuadrado f">right top</div>
  </div>
</div>
 -->

 <div class="main">
   <div class="contenedor">
     <div class="circulo">
       Hola Mundo
     </div>
   </div>
 </div>